* {
    padding: 0;
    margin: 0;
}

input {
    padding: 1em;
    border-radius: 1em;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button_container {
    width: 50%;
    margin: auto;
    text-align: center;
}

#button_container {
    margin-top: 0.7%;
}

header {
    text-align: right;
}

a {
    margin: 1em;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}