body {
    background-color: white;
}

input {
    padding: 1em;
    border-radius: 1em;
}

div {
    width: 50%;
    margin: auto;
    text-align: center;
}

#button_container {
    margin-top: 0.7%;
}

header {
    text-align: right;
}

a {
    margin: 1em;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}